<script setup>
import RatingItem from './RatingItem.vue';
import TestimonialItem from './TestimonialItem.vue';
</script>
<template>
    <div class="w-full h-full min-h-[1530px] md:min-h-[1000px]">
        <div
            class="relative bg-[url('../assets/images/bg-pattern-top-mobile.svg')] bg-no-repeat bg-cover h-[232px] md:hidden">
        </div>
        <div
            class=" relative w-[584px] bg-[url('../assets/images/bg-pattern-top-desktop.svg')] bg-no-repeat bg-cover h-[362px] hidden md:block">
        </div>
        <div class=" text-center -mt-36 grid place-items-center md:w-[1110px] md:-mt-64 md:flex md:justify-around">
            <div class=" md:text-left">
                <h1
                    class="w-[300px] mx-10 font-bold text-very-dark-magenta text-[40px] tracking-tighter leading-9 md:w-[400px] md:text-[56px] md:leading-[50px]">
                    10,000+
                    of
                    our users love our products.</h1>
                <p class="mt-3 mx-6 text-[19px] text-dark-grayish-magenta md:w-[445px] md:mx-10"> We only provide great
                    products combined with
                    excellent customer service.
                    See what our satisfied customers are saying about our services.</p>
            </div>

            <div class="mt-[39px] flex flex-col gap-y-4">
                <RatingItem class="md:-ml-20">
                    <template #rating>
                        Rated 5 Stars in Reviews
                    </template>
                </RatingItem>
                <RatingItem class="md:-ml-10">
                    <template #rating>
                        Rated 5 Stars in Report Guru
                    </template>
                </RatingItem>
                <RatingItem>
                    <template #rating>
                        Rated 5 Stars in BestTech
                    </template>
                </RatingItem>
            </div>
        </div>
        <div
            class="relative bg-[url('../assets/images/bg-pattern-bottom-mobile.svg')] bg-no-repeat bg-cover h-[673px] md:hidden">
            <div class=" grid place-items-center">
                <div class=" mt-[49px] flex flex-col gap-y-4">
                    <TestimonialItem>
                        <template #image>
                            <img src="../assets/images/image-colton.jpg" alt="colton-smith" class=" rounded-full mt-11">
                        </template>
                        <template #username>
                            Colton Smith
                        </template>
                        <template #testimony>
                            “ We needed the same printed design as the one we had ordered a week prior. Not only did they
                            find
                            the original order, but we also received it in time. Excellent! ”
                        </template>
                    </TestimonialItem>
                    <TestimonialItem>
                        <template #image>
                            <img src="../assets/images/image-irene.jpg" alt="colton-smith" class=" rounded-full mt-11">
                        </template>
                        <template #username>
                            Irene Roberts
                        </template>
                        <template #testimony>
                            “ Customer service is always excellent and very quick turn around. Completely delighted with the
                            simplicity of the purchase and the speed of delivery.”
                        </template>
                    </TestimonialItem>
                    <TestimonialItem>
                        <template #image>
                            <img src="../assets/images/image-anne.jpg" alt="colton-smith" class=" rounded-full mt-11">
                        </template>
                        <template #username>
                            Anne Wallace
                        </template>
                        <template #testimony>
                            “ Put an order with this company and can only praise them for the very high standard. Will
                            definitely use them again and recommend them to everyone! ”
                        </template>
                    </TestimonialItem>
                </div>
            </div>
        </div>
        <div
            class=" relative bg-[url('../assets/images/bg-pattern-bottom-desktop.svg')] bg-no-repeat bg-cover h-[673px] w-[1085px] hidden md:block">
            <div class=" ml-10 flex flex-row gap-x-8">
                <TestimonialItem class="mt-36">
                    <template #image>
                        <img src="../assets/images/image-colton.jpg" alt="colton-smith" class=" rounded-full mt-11">
                    </template>
                    <template #username>
                        Colton Smith
                    </template>
                    <template #testimony>
                        “ We needed the same printed design as the one we had ordered a week prior. Not only did they
                        find
                        the original order, but we also received it in time. Excellent! ”
                    </template>
                </TestimonialItem>
                <TestimonialItem class="mt-48">
                    <template #image>
                        <img src="../assets/images/image-irene.jpg" alt="colton-smith" class=" rounded-full mt-11">
                    </template>
                    <template #username>
                        Irene Roberts
                    </template>
                    <template #testimony>
                        “ Customer service is always excellent and very quick turn around. Completely delighted with the
                        simplicity of the purchase and the speed of delivery.”
                    </template>
                </TestimonialItem>
                <TestimonialItem class="mt-56">
                    <template #image>
                        <img src="../assets/images/image-anne.jpg" alt="colton-smith" class=" rounded-full mt-11">
                    </template>
                    <template #username>
                        Anne Wallace
                    </template>
                    <template #testimony>
                        “ Put an order with this company and can only praise them for the very high standard. Will
                        definitely use them again and recommend them to everyone! ”
                    </template>
                </TestimonialItem>
            </div>

        </div>
    </div>
</template>