<script setup>
import StarIcon from './icons/IconStar.vue'
</script>
<template>
    <div class="w-[327px] h-[78px] bg-light-grayish-magenta flex flex-col justify-center items-center gap-y-[15px] rounded-lg md:w-[445px] md:h-[56px]">
       <div class="flex flex-col md:flex-row md:gap-x-8">
        <div class=" flex justify-center items-center gap-x-2 ">
            <StarIcon />
            <StarIcon />
            <StarIcon />
            <StarIcon />
            <StarIcon />
        </div>
        <h4 class=" font-bold text-[17px] text-very-dark-magenta">
            <slot name="rating"></slot>
        </h4>
    </div>
    </div>
</template>