<script setup></script>
<template>
    <div class="w-[327px] h-[255px] rounded-lg bg-very-dark-magenta md:w-[360px] md:h-[234px]">
        <div class="ml-8 flex gap-x-6 ">
            <div class=" rounded-full w-10 h-10">
                <slot name="image"></slot>
            </div>
            <div class="">
                <h4 class=" text-[17px] font-bold text-white mt-11">
                    <slot name="username"></slot>
                </h4>
                <h5 class=" text-[17px] text-soft-pink">
                    Verified Buyer
                </h5>
            </div>
        </div>
        <div class="w-[263px] mt-6 mx-8 md:w-[286px]">
            <p class="text-[17px] font-medium text-white leading-[22px]">
                <slot name="testimony" />
            </p>
        </div>
    </div>
</template>